{% extends "newsApp/base.html" %}

{% block content %}
<h1 class="text-center">{{ category.name }}</h1>
<p>{{ category.description }}</p>
<div class="row">
    {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <!--<p class="card-text">{{ article.content|truncatechars:100 }}</p>-->
                    <a href="{% url 'article_detail' article.slug %}" class="text-dark text-decoration-none">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}



