{% extends "newsApp/base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">
        Articles in {{ category.name }}
    </h1>

    {% if articles %}
        <div class="row">

            {% for article in articles %}

                <div class="col-md-4">
                    <div class="card mb-4">

                        {% if article.image %}
                            <img src="{{ article.image.url }}"
                                 class="card-img-top"
                                 alt="{{ article.title }}">
                        {% else %}
                            <img src="/static/default-image.jpg"
                                 class="card-img-top"
                                 alt="Default image">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">
                                {{ article.title }}
                            </h5>

                            <a href="{% url 'article_detail' article.slug %}"
                               class="btn btn-primary">
                                Read More
                            </a>

                        </div>

                    </div>
                </div>

            {% endfor %}

        </div>

        <!-- PAGINATION -->
        <hr>
        <div style="text-align:center; margin:30px 0;">
            <a href="?page=1" class="btn btn-primary">
                Page 1
            </a>
            <a href="?page=2" class="btn btn-danger">
                Page 2
            </a>
        </div>
{% endblock %}