{% extends 'newsApp/base.html' %}

{% block content %}
<div class="container mt-4">
    <h3 class="mb-4">Trending News</h3>

    {% for category, articles in trending_by_category.items %}
    <div class="mb-5">
        <div class="category-separator">
            <hr>
            <div class="category-label">{{ category|upper }}</div>
            <hr>
        </div>

        <div class="row">
            {% for article in articles %}
            <div class="col-md-4 mb-3">
                <div class="card h-100">
                    <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}">
                    <div class="card-body">
                        <h6 class="card-title">
                            <a href="{% url 'article_detail' article.id %}" class="text-dark text-decoration-none">
                                {{ article.title }}
                            </a>
                        </h6>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
